@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ClientCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}
.defaultQues{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vh;
    height: 15vh;
    margin-top: 4.4vh;
    background-color: #D6D6D6;
    border-radius: 25px;
}
h3{
    font-size: 19px;
    background-color: transparent;
}
.textDefQues{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.iconDiff{
    background-color: transparent;
    margin-right: 3px;
}