.everyDayQues{
    height: 115px;
}
.tasks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.task{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7vh;
    height: 7vh;
    font-size: 20px;
    margin: 0 6.6px;
    border-radius: 12px;
    box-shadow: -3px 4px 15px #535353;
    color: white;
    background-color: #5F1016;
    cursor: pointer;
}