@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.myBtn{
    width: 40vh;
    height: 5vh;
    padding: 3px;
    margin-top: 30px;

    background-color: #700F1A;
    border: 1px solid #5F1016;
    border-radius: 15px;
    color: white;

    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: -1px 2px 15px #535353;
}
.myBtn:hover{
    background-color: #87111e;
}